.main-div {
  border: thick solid rgba(0, 0, 0, 0.164);
  border-radius: 8px;
}
.container {
  margin: 24px;
}

.invalid-data {
  color: red;
  font-weight: bold;
}

.main-card {
  margin: 16px;
  width: 92vw;
}
