<mat-toolbar color="primary">
  <button
    mat-icon-button
    [routerLink]="['/home']"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</mat-toolbar>
<mat-card *ngIf="persona" class="main-card">
  <mat-card-header>
    <mat-card-title>{{ persona.nombre }} {{ persona.apellido }}</mat-card-title>
    <mat-card-subtitle
      >{{ persona.direccion.calle }},{{
        persona.direccion.comuna.nombre
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>{{ persona.rut | rut }} </mat-card-title>
      <mat-card-subtitle>RUT</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title>{{ persona.telefono | telefono }}</mat-card-title>
      <mat-card-subtitle>Telefono</mat-card-subtitle>
    </mat-card-header>
  </mat-card-content>
</mat-card>
