table {
  margin: 16px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90vw;
  border-radius: 8px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  border-radius: 8px;
  background-color: #dddddd;
}

.search-input {
  width: 40vw;
  padding-top: 8px;
  margin-bottom: 16px;
}

.btn-search {
  margin-left: 16px;
}

.btn-clear {
  margin-top: 16px;
  margin-left: 16px;
  height: 4vh;
  width: 20vw;
  float: inline-end;
}


.search-form-field {
  margin-left: 16px;
  margin-top: 16px;
  width: 40vw;
}

.selectables-form {
  margin-left: 16px;
}
