<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Buscador de Personas</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <button
    (click)="resetFilter()"
    class="btn-clear"
    mat-raised-button
    color="warn"
  >
    Refrescar Lista
  </button>
  <div>
    <mat-form-field class="search-form-field">
      <mat-label>Busqueda por nombre y/o apellido</mat-label>
      <input
        matInput
        type="text"
        (ngModelChange)="onSearchByNameAndLastName($event)"
        [(ngModel)]="searchQuery"
      />
      <button
        mat-button
        *ngIf="searchQuery"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchQuery = '';resetFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="selectables-form">
    <div style="float: left">
      <mat-form-field
        style="width: 20vw; margin-bottom: 16px; margin-right: 16px"
        appearance="fill"
      >
        <mat-label>Region</mat-label>
        <mat-select
          [(ngModel)]="selectedRegion"
          (ngModelChange)="onChangeRegionSelected($event)"
        >
          <mat-option *ngFor="let region of regions" [value]="region.id">
            {{ region.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div style="float: inline-end">
      <mat-form-field
        style="width: 20vw; margin-bottom: 16px"
        appearance="fill"
      >
        <mat-label>Comuna</mat-label>
        <mat-select
          [(ngModel)]="selectedComuna"
          (ngModelChange)="onChangeComunaSelected($event)"
        >
          <mat-option *ngFor="let comuna of comunas" [value]="comuna.id">
            {{ comuna.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button
        (click)="searchByDirection()"
        class="btn-clear"
        mat-raised-button
        color="primary"
      >
        Buscar
      </button>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading"  mode="indeterminate"></mat-progress-bar>

  <table>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rut</th>
    <th>Comuna</th>
    <th>Acciones</th>
    <tr *ngFor="let persona of personas">
      <th>
        <h3>{{ persona.nombre }}</h3>
      </th>
      <th>
        {{ persona.apellido }}
      </th>
      <th>
        <p>{{ persona.rut }}</p>
      </th>
      <th>
        <p>{{ persona.direccion.comuna.nombre }}</p>
      </th>
      <th>
        <button
          (click)="onClickPersonaDetail(persona)"
          class="btn-search"
          mat-raised-button
          color="accent"
        >
          Detalle
        </button>
      </th>
    </tr>
  </table>
</div>
