table {
  margin: 16px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90vw;
  border-radius: 8px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  border-radius: 8px;
  background-color: #dddddd;
}

.search-input {
  width: 40vw;
  padding-top: 8px;
  margin-bottom: 16px;
}

.btn-search {
  margin-left: 16px;
}

.btn-clear {
  margin-top: 16px;
  margin-left: 16px;
  height: 4vh;
  width: 20vw;
  float: inline-end;
}

/* LOADING */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-form-field {
  margin-left: 16px;
  margin-top: 16px;
  width: 40vw;
}

.selectables-form {
  margin-left: 16px;
}
